# Compiled files 
*.tfstate 
*.tfstate.*.backup 
*.tfstate.backup  

# Module directory 
.terraform/  

# Variable values for development 
terraform.tfvars

#
aws.auto.tfvars

*.plan
plan/
*.tfplan

terraform.*/